body {
    background-color: #f4f9f4;
    font-family: 'Segoe UI', sans-serif;
}

h1, h2, h3, h4 {
    color: #2d572c;
}

.navbar-brand {
    font-weight: 600;
    font-size: 1.4rem;
}

.table th {
    background-color: #d7f0d7;
}

.table td, .table th {
    vertical-align: middle;
}

.btn-primary {
    background-color: #2d572c;
    border-color: #2d572c;
}

    .btn-primary:hover {
        background-color: #244822;
    }

footer {
    background-color: #f0f0f0;
    padding: 1rem 0;
}
